

:root {
    --theme-red: #ef3724;
    --theme-blue: #2960f7;
    --theme-green: #8cc63f;
    --theme-orange: #fd7e14;
    --theme-purple: #6f42c1;
}

/* Light */
@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 300;
    src: local('Quicksand Light'), local('Quicksand-Light'), url(https://fonts.gstatic.com/s/quicksand/v8/6xKodSZaM9iE8KbpRA_pgHYYT8L_.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* Normal */
@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    src: local('Quicksand Regular'), local('Quicksand-Regular'), url(https://fonts.gstatic.com/s/quicksand/v8/6xKtdSZaM9iE8KbpRA_hK1QN.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* Medium */
@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 500;
    src: local('Quicksand Medium'), local('Quicksand-Medium'), url(https://fonts.gstatic.com/s/quicksand/v8/6xKodSZaM9iE8KbpRA_p2HcYT8L_.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* 
    1. Basic
*/

body {
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
}

.fw-bold {
    font-weight: 700;
}

.fw-medium {
    font-weight: 500;
}

.fw-normal {
    font-weight: 400;
}

.fw-light {
    font-weight: 300;
}

.fs-large {
    font-size: 21px;
}

.fs-normal {
    font-size: 100%;
}

.fs-small {
    font-size: 14px;
}

a:hover, a:active {
    color: #2184f5;
}

/* Image Responsive */
.img-place {
    position: relative;
    display: block;
    margin: 0 auto;
    width: 100%;height: 100%;
    overflow: hidden;
    z-index: 10;
}

.img-place > img {
    width: 100%;height: auto;
}

/* Overlay */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;height: 100%;
    background: rgba(0,0,0,0.6);
    visibility: visible;
    z-index: 99;
}

/* 
    2. Button
*/
.btn-theme {
    padding: 10px 30px;
    margin: 5px;
    height: unset;
    background-color: #747474;
    color: #fff;
    font-weight: 500;
    border-radius: 6px;
    box-shadow: 0 0 0 2px #fff, 0 3px 9px rgba(0,0,0,0.3);
}

.btn-theme:hover, .btn-theme:active {
    background-color: #808080;
    color: #fff;
}

.btn-theme:focus {
    box-shadow: 0 0 0 3px #fff, 0 0 0 5px #747474;
}

.btn-theme.no-shadow {
    box-shadow: none !important;
}

.btn-theme-outline {
    padding: 10px 30px;
    margin: 5px;
    height: unset;
    background-color: transparent;
    color: #747474;
    border: 0;
    font-weight: 500;
    box-shadow: 0 0 0 2px #747474;
}

.btn-theme-outline:hover {
    background-color: #747474;
    color: #fff;
}

.btn-theme-outline:focus {
    background-color: #747474;
    color: #fff;
    box-shadow: 0 0 0 3px #fff, 0 0 0 5px #747474;
}

.btn-rounded {
    border-radius: 40px !important;
}

/* Floating Action Button */
.btn-fab {
    display: inline-block;
    padding: 0;
    width: 50px;
    height: 50px;
    outline: none;
    border: 0;
    border-radius: 50%;
    line-height: 50px;
    font-weight: 500;
    cursor: pointer;
    box-shadow: none;
}

.btn-fab:focus,
.btn-fab:active {
    box-shadow: none;
}

.btn-fab.btn-sm {
    width: 35px;
    height: 35px;
    line-height: 35px;
}

/* Social Button */
.social {
    position: relative;
    display: block;
    list-style: none;
}

.social .social-link {
    display: inline-block;
    margin: 3px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
    line-height: 35px;
    font-size: 12px;
    background-color: #fff;
    color: #888;
    border: 1px solid #ddd;
    -webkit-transition: all .3s;
       -moz-transition: all .3s;
            transition: all .3s;
}

.social .social-link:hover {
    background-color: #ddd;
    color: #fff;
    border-color: transparent;
}

/* Back to top */
.btn-back_to_top {
    position: fixed;
    bottom: 10px;
    right: 14px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 18px;
    border-radius: 50%;
    background-color: #52565c;
    color: #fff;
    visibility: hidden;
    cursor: pointer;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.4);
    z-index: 99;
}

/* Template Config */
.config {
    position: fixed;
    top: 50%;
    right: 2px;
    padding: 5px;
    background-color: transparent;
    transition: right .3s ease;
    z-index: 100;
}

.config.active {
    right: 0;
}

.template-config {
    position: relative;
    display: block;
    float: right;
    margin: 0 !important;
    padding: 5px;
    size:5px;
    border-radius: 12px 0 0 12px;
    box-shadow: -3px 2px 9px rgba(50, 50, 50, 0.2);
}

.template-config .btn-fab {
    background-color: transparent !important;
    color: #52565c !important;
    margin: 3px 0;
}

.template-config .btn-fab:hover,
.template-config .btn-fab:focus {
    background-color: transparent !important;
}

.color-bar {
    display: block;
    margin: 10px 0;
    width: 100%;
}

.color-item {
    display: inline-block;
    margin: 5px 3px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
}

.color-item.selected {
    background-position: center center;
    background-size: 50% 50%;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
}

.set-menu {
    position: relative;
    display: inline-block;
    margin: 0 !important;
    padding: 10px 15px;
    background-color:transparent;
    box-shadow: 2px 2px 4px rgba(50, 50, 50, 0.2);
}


/* 
    3. Color Scheme
*/

.bg-theme-gradient {
    background-image: linear-gradient(to right, #f55745 0%, #8490ff 100%) !important;
}

.bg-theme-red {
    background-color: #ef3724 !important;
}

.bg-theme-blue {
    background-color: #2960f7 !important;
}

.bg-theme-green {
    background-color: #8cc63f !important;
}

.bg-theme-orange {
    background-color: #fd7e14 !important;
}

.bg-theme-purple {
    background-color: #6f42c1 !important;
}

.fg-theme-red {
    color: #ef3724 !important;
}

.fg-theme-blue {
    color: #2960f7 !important;
}

.fg-theme-green {
    color: #8cc63f !important;
}

.fg-theme-orange {
    color: #fd7e14 !important;
}

.fg-theme-purple {
    color: #6f42c1 !important;
}

.fg-dark {
    color: #343a40 !important;
}

.fg-white {
    color: #fff !important;
}

/* Social Color */
.bg-facebook,
.bg-hover-facebook:hover {
    background-color: #3B5997 !important;
}

.bg-twitter,
.bg-hover-twitter:hover {
    background-color: #1DA1F2 !important;
}

.bg-linkedin,
.bg-hover-linkedin:hover {
    background-color: #0077B5 !important;
}

.bg-pinterest,
.bg-hover-pinterest:hover {
    background-color: #BD081C !important;
}

.bg-google-plus,
.bg-hover-google-plus:hover {
    background-color: #D11718 !important;
}

.bg-behance,
.bg-hover-behance:hover {
    background-color: #005CFF !important;
}


.bg-dribbble,
.bg-hover-dribbble:hover {
    background-color: #E84C88 !important;
}

.bg-github,
.bg-hover-github:hover {
    background-color: #323131 !important;
}

.bg-instagram,
.bg-hover-instagram:hover {
    background-color: #DC3472 !important;
}

.bg-medium,
.bg-hover-medium:hover {
    background-color: #00AB6C !important;
}

.bg-reddit,
.bg-hover-reddit:hover {
    background-color: #FF4501 !important;
}

.bg-snapchat,
.bg-hover-snapchat:hover {
    background-color: #FFFC00 !important;
}

.bg-tumblr,
.bg-hover-tumblr:hover {
    background-color: #01273A !important;
}

.bg-youtube,
.bg-hover-youtube:hover {
    background-color: #FE0002 !important;
}

/* 
    4. Progressbar
*/
.progress-wrapper {
    display: block;
    margin: 10px 0;
}

.progress-wrapper .caption {
    font-weight: 500;
}

.progress {
    margin-top: 5px;
    height: 1.25rem;
    border: 2px solid #fff;
    background-color: #fff;
    box-shadow: 0 0 0 2px #747474;
}

.progress,
.progress-bar {
    border-radius: 30px;
}

.progress-bar {
    font-size: 12px;
    background-color: #747474;
}

/* 
    5. Preloader
*/

/* 
    6. Pagination
*/
.page-item:not(:last-child) .page-link {
    margin-right: 8px;
}

.page-item.active .page-link {
    background-color: #52565c;
    color: #fff;
}

.page-link {
    border: 0;
    padding: 10px 16px;
    background-color: #f2f4fa;
    color: #52565c;
}

.page-link:hover {
    color: #2C2D34;
}

.page-link:focus {
    box-shadow: none;
}


/* 
    7. List style
*/
.theme-list {
    position: relative;
    padding-left: 30px;
    list-style: none;
    z-index: 10;
}

.theme-list::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 9px;
    margin: auto;
    width: 1px;
    height: 85%;
    background-color: #cacdd6;
    z-index: -1;
}

.theme-list li {
    display: block;
    margin: 5px 0;
}

.theme-list li::before {
    content: "";
    position: absolute;
    left: 3px;
    margin: 6px 0;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #fff;
    border: 2px solid #888;
}

/*
 *  8. Navigation 
 */
.sticky {
    top: 0;
    z-index: 999;
}

.navbar-brand {
    font-weight: 500;
    padding-top: 12px;
    padding-bottom: 12px;
}

.navbar-nav .nav-link {
    padding: 14px 10px;
}

@media (min-width: 576px) {
    .navbar-expand-sm .navbar-nav .nav-link {
        padding-left: 12px;
        padding-right: 12px;
    }
}

@media (min-width: 768px) {
    .navbar-expand-md .navbar-nav .nav-link {
        padding-left: 14px;
        padding-right: 14px;
    }
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-left: 16px;
        padding-right: 16px;
    }
}

@media (min-width: 1200px) {
    .navbar-expand-xl .navbar-nav .nav-link {
        padding-left: 16px;
        padding-right: 16px;
    }
}

/* 
 *  9. Input
 */
.form-control {
    height: unset;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 6px;
    border: 2px solid #c2c6ce;
    font-weight: 500;
}

.form-control:focus {
    border-color: #80bdff;
}

.form-control::-webkit-input-placeholder {
    font-weight: 500;
    color: #9FA2AB; 
}

.form-control::-moz-placeholder {
    font-weight: 500;
    color: #9FA2AB;
}

.form-control::placeholder {
    font-weight: 500;
    color: #9FA2AB;
}

/* 
 *  10. Select
 */
.vg-select {
    width: 100%;
    height: unset;
    line-height: unset;
    padding: 10px 30px 10px 18px;
    font-size: 16px;
    border-width: 2px;
    z-index: 11;
}

.vg-select:focus {
    border-color: #80bdff;
}

.nice-select::after {
    width: 7px;
    height: 7px;
    margin-top: -5px;
    right: 15px;
}


/*
 *  8. Page Animation
 */

/* Reveal */
.reveal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    background: #202022;
    z-index: 98;
}

.reveal-animate {
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    animation-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    height: 100vh;
}

.reveal-layer-top {
    -webkit-animation-name: anim-effect-1;
	animation-name: anim-effect-1;
}

.reveal-layer-bottom {
    -webkit-animation-name: anim-effect-2;
	animation-name: anim-effect-2;
}

@-webkit-keyframes anim-effect-1 {
	0% {
		-webkit-transform: translate3d(0, 0, 0);
	}
	35%, 65% {
		-webkit-transform: translate3d(0, -100%, 0);
	}
	100% {
		-webkit-transform: translate3d(0, -200%, 0);
	}
}

@keyframes anim-effect-1 {
	0% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	35%, 65% {
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0);
	}
	100% {
		-webkit-transform: translate3d(0, -200%, 0);
		transform: translate3d(0, -200%, 0);
	}
}

@-webkit-keyframes anim-effect-2 {
	0% {
		-webkit-transform: translate3d(0, 0, 0);
	}
	35%, 65% {
		-webkit-transform: translate3d(0, -100%, 0);
	}
	100% {
		-webkit-transform: translate3d(0, -200%, 0);
	}
}

@keyframes anim-effect-2 {
	0% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	35%, 65% {
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, 100%, 0);
	}
	100% {
		-webkit-transform: translate3d(0, -200%, 0);
		transform: translate3d(0, 200%, 0);
	}
}


/*
    10. Plugins
*/

/* Owl Carousel */
.owl-header {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 15px;
    width: 100%;
    height: 60px;
    z-index: 10;
}

.owl-header .story-type {
    margin-right: 10px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    text-align: center;
    background-color: #acacac;
    color: #fff;
}

.owl-header .time {
    display: block;
    font-size: 12px;
}

.owl-nav .owl-prev,
.owl-nav .owl-next {
    position: absolute;
    top: 0;bottom: 0;
    margin: auto;
    width: 30px;height: 30px;
    border-radius: 50%;
    background-color: #fff !important;
    outline: none !important;
    box-shadow: 0 2px 5px rgba(0,0,0,0.5);
    opacity: 0;
    visibility: hidden;
}

.owl-nav .disabled {
    opacity: 0;
    visibility: hidden;
}

.owl-carousel:hover .owl-nav .owl-prev:not(.disabled):not(:disabled),
.owl-carousel:hover .owl-nav .owl-next:not(.disabled):not(:disabled) {
    opacity: 1;
    visibility: visible;
}

.owl-prev {
    left: 10px;
}

.owl-next {
    right: 10px;
}

.owl-dots {
    position: relative;
    display: block;
    width: 100%;height: 50px;
    line-height: 50px;
    text-align: center;
    background: #fff;
}

.owl-dots .owl-dot {
    position: relative;
    display: inline-block;
    margin: 0 2px;
    outline: none;
}

.owl-dots .owl-dot span {
    display: block;
    width: 10px;height: 10px;
    border-radius: 50%;
    background: #dadada;
}

.owl-dots .owl-dot.active span {
    background: #3c94f8;
}

/* OpenGraph Grid */
.og-grid {
	position: relative;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	list-style: none;
	padding: 20px 0;
	text-align: center;
	width: 100%;
}

.og-grid li {
	display: inline-block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
	padding: 0 10px;
	vertical-align: top;
    width: 100%;
    max-width: 350px;
    height: 250px;
	overflow: hidden;
}

.og-grid li > a {
	position: relative;
	border: none;
    display: block;
    width: 100%;
	height: 250px;
}

.og-grid li > a img {
	width: auto;
	height: 100%;
}

.og-grid li.og-expanded > a::after {
	content: " ";
	position: absolute;
	top: auto;
	left: 50%;
	border: solid transparent;
	height: 0;
	width: 0;
	pointer-events: none;
	border-bottom-color: #f0f3f8;
	border-width: 15px;
	margin: -20px 0 0 -15px;
}

.og-content {
	display: none;
}

.og-expander {
	position: absolute;
	background: #f0f3f8;
	top: auto;
	left: 0;
	width: 100%;
	margin-top: 10px;
	text-align: left;
	height: 0;
	overflow: hidden;
}

.og-expander-inner {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 50px 15px;
	height: 100%;
}

.og-close {
	position: absolute;
	width: 40px;
	height: 40px;
	top: 20px;
	right: 20px;
	cursor: pointer;
}

.og-close::before,
.og-close::after {
	content: '';
	position: absolute;
	width: 100%;
	top: 50%;
	height: 1px;
	background: #888;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	transform: rotate(45deg);
}

.og-close::after {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.og-close:hover::before,
.og-close:hover::after {
	background: #333;
}

.og-fullimg,
.og-details {
	width: 100%;
	max-width: 100%;
	height: 100%;
	overflow: hidden;
}

.og-fullimg {
    display: none;
    padding: 8px 0;
    text-align: center;
}

.og-fullimg img {
	max-height: 100%;
    max-width: 100%;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.og-details h1,
.og-details h2,
.og-details h3,
.og-details h4 {
	font-weight: 400;
}

.og-details p {
	color: #999;
}

.og-loading {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #ddd;
	box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ccc;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -25px 0 0 -25px;
	-webkit-animation: loader 0.5s infinite ease-in-out both;
	-moz-animation: loader 0.5s infinite ease-in-out both;
	animation: loader 0.5s infinite ease-in-out both;
}

@-webkit-keyframes loader {
	0% { background: #ddd; }
	33% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd; }
	66% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc; }
}

@-moz-keyframes loader {
	0% { background: #ddd; }
	33% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd; }
	66% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc; }
}

@keyframes loader {
	0% { background: #ddd; }
	33% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd; }
	66% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc; }
}

@media (min-width: 640px) {
    .og-grid li {
        max-width: 50%;
    }
}

@media (min-width: 768px) {
	.og-expander-inner {
		flex-direction: row;
	}

	.og-fullimg,
	.og-details {
		max-width: 50%;
    }

    .og-fullimg {
        display: block;
    }

    .og-details {
        padding-left: 15px;
    }
}

@media (min-width: 1200px) {
    .og-grid li {
        max-width: 33.3333%;
    }
}

/* Isotope */
.gridder {
    position: relative; /* Establishes a positioning context for child elements */
    display: block; /* Makes the container a block-level element */
}

.grid-item {
    display: block; /* Makes each grid item a block element */
    float: left; /* Allows the grid items to sit next to each other */
    margin: 16px 0; /* Adds vertical space between grid items */
    padding: 0 16px; /* Adds horizontal padding */
}

.grid-item,
.grid-sizer {
    width: 100%; /* Default width for grid items */
}

.grid-item img {
    width: 100%; /* Makes images responsive */
    height: auto; /* Maintains aspect ratio */
}

.grid-item .img-place {
    display: block; /* Ensures the image place is a block element */
    margin: 0 auto; /* Centers the image container */
    width: 100%; /* Full width */
    max-width: 400px; /* Increased maximum width of cards */
    height: 300px; /* Fixed height for uniformity */
    border-radius: 8px; /* Rounded corners for the card */
    overflow: hidden; /* Hides overflow content */
    cursor: pointer; /* Changes cursor on hover */
    transition: transform 0.3s; /* Smooth scaling transition on hover */
}

/* Adding hover effect to scale up the card */
.grid-item:hover .img-place {
    transform: scale(1.05); /* Slightly enlarges the card on hover */
}

/* Styles for caption overlay */
.grid-item .img-caption {
    position: absolute; /* Positioning caption absolutely within the card */
    bottom: 0; /* Aligns caption to the bottom */
    padding: 12px 16px; /* Padding around the caption */
    width: 100%; /* Full width */
    background-color: rgba(50, 49, 49, 0.8); /* Semi-transparent background */
    color: #fff; /* White text */
    z-index: 11; /* Ensures caption appears above other elements */
}

/* Text styling for captions */
.grid-item .img-caption p {
    font-size: 8px; /* Increased font size for readability */
    margin-bottom: 0; /* Removes bottom margin */
}


/* Responsive styles for larger screens */
@media (min-width: 768px) {
    .gridder .grid-item,
    .gridder .grid-sizer {
        width: 50%; /* Two items per row on medium screens */
    }
}

@media (min-width: 992px) {
    .gridder .grid-item,
    .gridder .grid-sizer {
        width: 33.33333%; /* Three items per row on large screens */
    }
}


/* Theme color style */

/* Theme red */
.theme-red .bg-theme {
    background-color: #EF3724 !important;
}

.theme-red .fg-theme {
    color: #EF3724 !important;
}

.theme-red .btn-theme {
    background-color: #EF3724;
    color: #fff;
}

.theme-red .btn-theme:hover {
    background-color: #F04936;
    color: #fff;
}

.theme-red .btn-theme:focus {
    box-shadow: 0 0 0 3px #fff, 0 0 0 5px #EF3724;
}

.theme-red .btn-theme-outline {
    color: #EF3724;
    box-shadow: 0 0 0 2px #EF3724;
}

.theme-red .btn-theme-outline:hover {
    background-color: #EF3724;
    color: #fff;
}

.theme-red .btn-theme-outline:focus {
    background-color: #EF3724;
    color: #fff;
    box-shadow: 0 0 0 3px #fff, 0 0 0 5px #EF3724;
}

.theme-red .btn-fab {
    background-color: #EF3724;
    color: #fff;
}

.theme-red .btn-fab:hover {
    background-color: #F04936;
    color: #fff;
}

.theme-red .progress {
    box-shadow: 0 0 0 2px #EF3724;
}

.theme-red .progress-bar {
    background-color: #EF3724;
}

.theme-red .theme-list li::before {
    border-color: #EF3724;
}


/* Theme Blue */
.theme-blue .bg-theme {
    background-color: #2960f7 !important;
}

.theme-blue .fg-theme {
    color: #2960f7 !important;
}

.theme-blue .btn-theme {
    background-color: #2960f7;
    color: #fff;
}

.theme-blue .btn-theme:hover {
    background-color: #3f71f8;
    color: #fff;
}

.theme-blue .btn-theme:focus {
    box-shadow: 0 0 0 3px #fff, 0 0 0 5px #2960f7;
}

.theme-blue .btn-theme-outline {
    color: #2960f7;
    box-shadow: 0 0 0 2px #2960f7;
}

.theme-blue .btn-theme-outline:hover {
    background-color: #2960f7;
    color: #fff;
}

.theme-blue .btn-theme-outline:focus {
    background-color: #2960f7;
    color: #fff;
    box-shadow: 0 0 0 3px #fff, 0 0 0 5px #2960f7;
}

.theme-blue .btn-fab {
    background-color: #2960f7;
    color: #fff;
}

.theme-blue .btn-fab:hover {
    background-color: #3f71f8;
    color: #fff;
}

.theme-blue .progress {
    box-shadow: 0 0 0 2px #2960f7;
}

.theme-blue .progress-bar {
    background-color: #2960f7;
}

.theme-blue .theme-list li::before {
    border-color: #2960f7;
}


/* Theme Green */
.theme-green .bg-theme {
    background-color: #8cc63f !important;
}

.theme-green .fg-theme {
    color: #8cc63f !important;
}

.theme-green .btn-theme {
    background-color: #8cc63f;
    color: #fff;
}

.theme-green .btn-theme:hover {
    background-color: #94c751;
    color: #fff;
}

.theme-green .btn-theme:focus {
    box-shadow: 0 0 0 3px #fff, 0 0 0 5px #8cc63f;
}

.theme-green .btn-theme-outline {
    color: #8cc63f;
    box-shadow: 0 0 0 2px #8cc63f;
}

.theme-green .btn-theme-outline:hover {
    background-color: #8cc63f;
    color: #fff;
}

.theme-green .btn-theme-outline:focus {
    background-color: #8cc63f;
    color: #fff;
    box-shadow: 0 0 0 3px #fff, 0 0 0 5px #8cc63f;
}

.theme-green .btn-fab {
    background-color: #8cc63f;
    color: #fff;
}

.theme-green .btn-fab:hover {
    background-color: #94c751;
    color: #fff;
}

.theme-green .progress {
    box-shadow: 0 0 0 2px #8cc63f;
}

.theme-green .progress-bar {
    background-color: #8cc63f;
}

.theme-green .theme-list li::before {
    border-color: #8cc63f;
}


/* Theme Orange */
.theme-orange .bg-theme {
    background-color: #fd7e14 !important;
}

.theme-orange .fg-theme {
    color: #fd7e14 !important;
}

.theme-orange .btn-theme {
    background-color: #fd7e14;
    color: #fff;
}

.theme-orange .btn-theme:hover {
    background-color: #fd8a2c;
    color: #fff;
}

.theme-orange .btn-theme:focus {
    box-shadow: 0 0 0 3px #fff, 0 0 0 5px #fd7e14;
}

.theme-orange .btn-theme-outline {
    color: #fd7e14;
    box-shadow: 0 0 0 2px #fd7e14;
}

.theme-orange .btn-theme-outline:hover {
    background-color: #fd7e14;
    color: #fff;
}

.theme-orange .btn-theme-outline:focus {
    background-color: #fd7e14;
    color: #fff;
    box-shadow: 0 0 0 3px #fff, 0 0 0 5px #fd7e14;
}

.theme-orange .btn-fab {
    background-color: #fd7e14;
    color: #fff;
}

.theme-orange .btn-fab:hover {
    background-color: #fd8a2c;
    color: #fff;
}

.theme-orange .progress {
    box-shadow: 0 0 0 2px #fd7e14;
}

.theme-orange .progress-bar {
    background-color: #fd7e14;
}

.theme-orange .theme-list li::before {
    border-color: #fd7e14;
}


/* Theme Purple */
.theme-purple .bg-theme {
    background-color: #6f42c1 !important;
}

.theme-purple .fg-theme {
    color: #6f42c1 !important;
}

.theme-purple .btn-theme {
    background-color: #6f42c1;
    color: #fff;
}

.theme-purple .btn-theme:hover {
    background-color: #7b54c2;
    color: #fff;
}

.theme-purple .btn-theme:focus {
    box-shadow: 0 0 0 3px #fff, 0 0 0 5px #6f42c1;
}

.theme-purple .btn-theme-outline {
    color: #6f42c1;
    box-shadow: 0 0 0 2px #6f42c1;
}

.theme-purple .btn-theme-outline:hover {
    background-color: #6f42c1;
    color: #fff;
}

.theme-purple .btn-theme-outline:focus {
    background-color: #6f42c1;
    color: #fff;
    box-shadow: 0 0 0 3px #fff, 0 0 0 5px #6f42c1;
}

.theme-purple .btn-fab {
    background-color: #6f42c1;
    color: #fff;
}

.theme-purple .btn-fab:hover {
    background-color: #7b54c2;
    color: #fff;
}

.theme-purple .progress {
    box-shadow: 0 0 0 2px #6f42c1;
}

.theme-purple .progress-bar {
    background-color: #6f42c1;
}

.theme-purple .theme-list li::before {
    border-color: #6f42c1;
}

.gridder .img-place {
    position: relative;
    overflow: hidden;
  }
  
  .gridder .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: opacity 0.3s ease;
  }
  
  .gridder .overlay .btn {
    margin: 10px;
    padding: 10px 20px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 14px;
    transition: background-color 0.3s ease;
  }
  
  .gridder .overlay .btn:hover {
    background-color: #0056b3;
  }
  
  .gridder .img-place:hover .overlay {
    opacity: 1;
  }
  
  .gridder .img-caption {
    text-align: center;
    padding: 10px 0;
  }
  
/* Portfolio Section */
.vg-page.page-portfolio {
    padding: 60px 0;
    background-color: #f8f9fa;
}

.vg-page.page-portfolio h1 {
    font-size: 2.5rem;
    margin-bottom: 30px;
    color: #22254b;
}

.filterable-button .btn-theme-outline {
    border: 2px solid #22254b;
    color: #22254b;
    margin: 5px;
    transition: all 0.3s ease-in-out;
}

.filterable-button .btn-theme-outline:hover,
.filterable-button .btn-theme-outline.selected {
    background-color: #22254b;
    color: #fff;
}

.gridder {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.grid-item {
    position: relative;
    margin-bottom: 30px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.grid-item:hover {
    transform: translateY(-10px);
}

.img-place img {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.5s ease;
}

.img-place .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(34, 37, 75, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.grid-item:hover .overlay {
    opacity: 1;
}

.overlay .btn {
    margin: 10px;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 50px;
    transition: background 0.3s ease;
}

.overlay .btn-demo {
    background-color: #ff6b6b;
    color: #fff;
}

.overlay .btn-demo:hover {
    background-color: #ff4d4d;
}

.overlay .btn-code {
    background-color: #48dbfb;
    color: #fff;
}

.overlay .btn-code:hover {
    background-color: #1dd1a1;
}

.img-caption {
    background-color: #fff;
    padding: 20px;
    text-align: center;
    border-radius: 0 0 10px 10px;
}

.img-caption h5 {
    font-size: 1.25rem;
    color: #22254b;
    margin-bottom: 5px;
}

.img-caption p {
    font-size: 0.875rem;
    color: #868e96;
}

.btn-theme {
    background-color: #22254b;
    color: #fff;
    padding: 10px 30px;
    border-radius: 50px;
    transition: background 0.3s ease;
}

.btn-theme:hover {
    background-color: #373b69;
}

.project-img-container {
    position: relative;
    width: 100%;
    padding-top: 80%; /* Adjust based on the aspect ratio */
    background-color: #f0f0f0; /* Fallback color */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .grid-item:nth-of-type(1) .project-img-container {
    background-image: url('/assets/img/work/Work-1.jpg'); /* Image for Project 1 */
  }
  
  .grid-item:nth-of-type(2) .project-img-container {
    background-image: url('/assets/img/work/Work-2.jpg'); /* Image for Project 2 */
  }

  .grid-item:nth-of-type(3) .project-img-container {
    background-image: url('/assets/img/work/Work-3.jpg'); /* Image for Project 3 */
  }

  
  .grid-item:nth-of-type(4) .project-img-container {
    background-image: url('/assets/img/work/Work-4.jpg'); /* Image for Project 4*/
  }

   
  .grid-item:nth-of-type(5) .project-img-container {
    background-image: url('/assets/img/work/Work-5.jpg'); /* Image for Project 5*/
  }
  
  .grid-item:nth-of-type(6) .project-img-container {
    background-image: url('/assets/img/work/Work-6.jpg'); /* Image for Project 6*/
  }

  
  .grid-item:nth-of-type(7) .project-img-container {
    background-image: url('/assets/img/work/Work-7.jpg'); /* Image for Project 7*/

  }

  .grid-item:nth-of-type(8) .project-img-container {
    background-image: url('/assets/img/work/Work-8.jpg'); /* Image for Project 8*/

  }

  .grid-item:nth-of-type(9) .project-img-container {
    background-image: url('/assets/img/work/Work-9.jpg'); /* Image for Project 9*/

  }

  
  .grid-item:nth-of-type(10) .project-img-container {
    background-image: url('/assets/img/work/Work-10.jpg'); /* Image for Project 10*/

  }
  
   
  .grid-item:nth-of-type(11) .project-img-container {
    background-image: url('/assets/img/work/Work-11.jpg'); /* Image for Project 11*/

  }

   
  .grid-item:nth-of-type(12) .project-img-container {
    background-image: url('/assets/img/work/Work-12.jpg'); /* Image for Project 12*/

  }
  
  .grid-item:nth-of-type(13) .project-img-container {
    background-image: url('/assets/img/work/Work\ -13.jpg'); /* Image for Project 13*/

  }
  
  .grid-item:nth-of-type(14) .project-img-container {
    background-image: url('/assets/img/work/Work-14.jpg'); /* Image for Project 14*/

  }
  
  
  .grid-item:nth-of-type(15) .project-img-container {
    background-image: url('/assets/img/work/Work-15.jpg'); /* Image for Project 15*/

  }
  .project-img-container img {
    display: none; /* Hide the actual img tag */
  }

  .gridder .grid-item .img-caption p {
    font-family: 'Poppins', sans-serif;
    color:whitesmoke;
    font-size: 14px; /* Adjust size as needed */
    line-height: 1.6; /* Improves readability */
    margin: 10px 0; /* Space around the paragraph */
    text-align: center; /* Center-aligns text (or use left/right) */
    position: relative; /* Enables absolute positioning of child elements */
    top: 20px; /* Adjust as needed for positioning */
    padding: left 10px;
  }
  
  
  .page-social .social-grid .col-md-6 {
    margin-bottom: 20px;
  }
  
  .page-social .social-logo {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
    transition: transform 0.3s ease;
  }
  
  .page-social .social-logo:hover {
    transform: scale(1.1);
  }
  
  .page-social p {
    margin-top: 10px;
    font-family: 'Poppins', sans-serif;
    color: #373b69;
    font-size: 16px;
  }
  
  .floating-button {
    background-color:grey; 
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.floating-button:hover {
    transform: scale(1.1);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.floating-button .ti-mouse {
    font-size: 24px;
    color: white;
}

.floating-button {
    position: relative;
    overflow: hidden;
}

.floating-button:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.4);
    opacity: 0;
    border-radius: 50%;
    transform: scale(1.5);
    transition: transform 0.5s, opacity 0.5s;
}

.floating-button:hover:before {
    opacity: 1;
    transform: scale(0);
}
/* Container positioning */
.config {
    position:hiddendot center;
    bottom: 20px;
    right: 0.5px;
    z-index: 9999;
    opacity: 100%;
  }
  
  /* Button styling */
  .btn-fab {
    background-color: #007bff; /* Customize color as needed */
    color: white;
    border-radius: 50%;
    width: 50px; /* Adjust as needed */
    height: 50px; /* Adjust as needed */
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    padding: 0;
  }
  
  /* Icon styling */
  .custom-icon {
    width: 15px; /* Adjust size as needed */
    height: 15px; /* Adjust size as needed */
  }
  
  /* Popup styling */
  .popup {
    display: none; /* Hidden by default */
    position: fixed;
    right: 20px;
    bottom: 80px; /* Adjust as needed */
    width: 300px;
    background-color: rgba(0, 0, 0, 0); /* Fully transparent background */
    z-index: 10000;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    animation: fadeIn 0.5s ease-in-out; /* Apply fade-in animation */
  }
  
  /* Popup content styling */
  .popup-content {
 
    padding: 20px;
    border-radius: 5px;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Optional: Adds shadow to make content stand out */
    transform: translateY(20px); /* Initial position for sliding animation */
    animation: slideUp 0.5s ease-out; /* Apply slide-up animation */
  }
  
  /* Close button styling */
  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    border: none;
    background: none;
    cursor: pointer;
    color: #333;
  }
  
  .close-btn:hover {
    color: #000;
  }
  
  /* Color Selection Menu */
  .set-menu {
    margin-top: 20px;
  }
  
  .set-menu p {
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .color-bar {
    display: flex;
    gap: 10px;
  }
  
  .color-item {
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid transparent;
  }
  
  .color-item.selected {
    border: 2px solid #000; /* Highlight selected color */
  }
  
  .bg-theme-red {
    background-color: #ff4d4d;
  }
  
  .bg-theme-blue {
    background-color: #4d79ff;
  }
  
  .bg-theme-green {
    background-color: #4dff4d;
  }
  
  .bg-theme-orange {
    background-color: #ff944d;
  }
  
  .bg-theme-purple {
    background-color: #8e44ad;
  }
  
  /* Keyframes for animations */
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes slideUp {
    from {
      transform: translateY(20px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  /* Optional: Animation for showing/hiding the popup */
  .popup.show-popup {
    animation: fadeIn 0.5s ease-in-out;
  }
  
  /* CSS for navbar-toggler */
.navbar-toggler {
    position: fixed; /* Fix the position */
    top:26px; /* Distance from the top */
    right: 5px; /* Distance from the right */
    width: 30px; /* Adjust size */
    height: 31px; /* Adjust size */
    background-image: url("/assets/img/burger-bar.png"); /* Local image path */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: none; /* Optional: Remove default border */
    z-index: 1050; /* Ensure it is on top */
    opacity:0.4; /* Initial visibility */
    transition: opacity 0.3s; /* Smooth transition */
   
  }
  
  /* Hidden state */
  .navbar-toggler.hidden {
    opacity: 0; /* Hide the button */
  }
  
  /* Back to Top Button Styling */
.btn-back_to_top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color:#EF3724; /* Custom dark background */
    border: none;
    border-radius: 50%; /* Circle shape */
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Drop shadow */
    transition: all 0.3s ease;
    z-index: 999; /* On top of other elements */
  }
  
  /* Icon inside the button */
  .icon-back-to-top {
    width: 30px;
    height: 30px;
    filter: brightness(0) invert(1); /* Make the icon white */
  }
  
  /* Hover Effect */
  .btn-back_to_top:hover {
    background-color: #22254b; /* Slightly darker on hover */
    transform: scale(1.1); /* Slight zoom */
  }
  
  <style>
  .card-tech {
    background: #f8f9fa; /* Light background for cards */
    border-radius: 15px; /* Rounded corners */
    transition: transform 0.3s, box-shadow 0.3s; /* Smooth hover effect */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    overflow: hidden; /* Prevent overflow */
  }

  .card-tech:hover {
    transform: translateY(-5px); /* Lift effect on hover */
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2); /* Increased shadow on hover */
  }

  .card-tech .icon {
    font-size: 40px; /* Larger icon size */
    color: #373b69; /* Theme color */
    margin: 20px 0; /* Margin around icon */
  }

  .caption {
    padding: 20px; /* Padding inside the caption */
    text-align: center; /* Center align text */
  }

  .fg-theme {
    color: #373b69; /* Use theme color for headings */
    font-weight: bold; /* Make headings bold */
  }
</style>

  


.card-goal {
    padding: 20px;
    border: 1px solid #e0e0e0; /* Light border for card */
    border-radius: 10px; /* Rounded corners */
    background-color: #ffffff; /* White background */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Animation effects */
}

.card-goal:hover {
    transform: translateY(-5px); /* Slight lift on hover */
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.15); /* Enhanced shadow on hover */
}

.icon {
    font-size: 40px; /* Size of the icon */
    color: #373b69; /* Theme color for icons */
    margin-bottom: 15px; /* Space between icon and title */
    text-align: left; /* Align icon to the left */
}

.caption {
    text-align: left; /* Align text to the left */
}

h4.fg-theme {
    color: #22254b; /* Theme color for headings */
    margin-bottom: 10px; /* Space below heading */
}

.list-unstyled {
    padding-left: 0; /* Removes left padding */
    list-style: none; /* Removes bullets */
    text-align: left; /* Ensure list items are left-aligned */
}

.list-unstyled li {
    margin-bottom: 10px; /* Space between list items */
}


